<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus rem illo dolorum tempore corrupti impedit autem cupiditate laboriosam veniam ab voluptas facilis eum, expedita ipsum sed praesentium voluptatibus magni nihil dolores, pariatur suscipit iste voluptatem amet asperiores. Sint expedita aspernatur, autem iste omnis qui rerum quas amet ab dolore beatae voluptatibus quis!</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus rem illo dolorum tempore corrupti impedit autem cupiditate laboriosam veniam ab voluptas facilis eum, expedita ipsum sed praesentium voluptatibus magni nihil dolores, pariatur suscipit iste voluptatem amet asperiores. Sint expedita aspernatur, autem iste omnis qui rerum quas amet ab dolore beatae voluptatibus quis!</p>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus rem illo dolorum tempore corrupti impedit autem cupiditate laboriosam veniam ab voluptas facilis eum, expedita ipsum sed praesentium voluptatibus magni nihil dolores, pariatur suscipit iste voluptatem amet asperiores. Sint expedita aspernatur, autem iste omnis qui rerum quas amet ab dolore beatae voluptatibus quis!</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>